<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.danielgrigg.bumper</string>
    <key>EnableGlobbing</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>~/bin/bumper</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>20</integer>
        <key>Minute</key>
        <integer>19</integer>
      </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/bumper.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/bumper.err</string>
</dict>
</plist>
